# Пример файла переменных
# Замените значения на реальные

cloud_id = "ваш_cloud_id_здесь"
folder_id = "ваш_folder_id_здесь"
vms_ssh_public_root_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAI...ваш_ключ..."
