# Вывод информации о созданных ВМ
output "vm_instances" {
  description = "Информация о всех созданных виртуальных машинах"
  value = {
    web = {
      instance_name = yandex_compute_instance.platform_web.name
      external_ip   = yandex_compute_instance.platform_web.network_interface[0].nat_ip_address
      fqdn          = yandex_compute_instance.platform_web.fqdn
      internal_ip   = yandex_compute_instance.platform_web.network_interface[0].ip_address
    }
    db = {
      instance_name = yandex_compute_instance.platform_db.name
      external_ip   = yandex_compute_instance.platform_db.network_interface[0].nat_ip_address
      fqdn          = yandex_compute_instance.platform_db.fqdn
      internal_ip   = yandex_compute_instance.platform_db.network_interface[0].ip_address
    }
  }
}
